.App {
  text-align: center;
  font-family: "Instrument Sans";
  user-select: none;
}

.App-link {
  color: #61dafb;
}

.scroll-area {
}

@font-face {
  font-family: "Instrument Sans";
  src: url(../public/font/InstrumentSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Instrument Sans";
  src: url(../public/font/InstrumentSans-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Instrument Sans";
  src: url(../public/font/InstrumentSans-SemiBold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Instrument Sans";
  src: url(../public/font/InstrumentSans-SemiBoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

.noise {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-image: url("../public/image/noise.png");
  background-size: 20%;
  background-repeat: repeat;
  mix-blend-mode: overlay;
  opacity: 0.15;
  z-index: 9999;
  pointer-events: none;
}

body {
  background-image: linear-gradient(0deg, rgb(22, 22, 22) 0%, rgb(0, 0, 0) 100%);
  color: white;
  overscroll-behavior: none;
  overflow-y: hidden;
  height: 100vh;
}

.scroll-area {
  margin-top: 80px;
}

.movies {
  display: flex;
  flex-direction: row;
  /* width: auto; */
  padding-left: calc(20px * 2);
  padding-right: calc(20px * 2);
  overflow: auto;
  scroll-snap-type: both mandatory;
  overscroll-behavior-x: contain;
}

.movie-background {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  height: 100%;
  border-radius: 50px;
  margin: 4vw;
  margin-top: 0;
}

.movie {
  height: 100%;
  backdrop-filter: blur(20px);
  background-color: rgba(50, 50, 50, 0.75);
  border-radius: 10px;
  scroll-snap-align: center;
}

.poster {
  width: 75vw;
  aspect-ratio: 0.66;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}

.title {
  font-size: 1.5em;
  padding: 0.25em;
  /* padding-top: 0; */
}

.description {
  padding: 1em;
  padding-top: 0;
}

.button {
  background: rgba(255, 255, 255, 0.2);
  padding: 0.5em;
  border-radius: 1em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 50px;
  letter-spacing: -0.05em;
  font-weight: bold;
  /* margin: 0.2em; */
}

.header {
  position: fixed;
  height: 80px;
  padding-top: 0.25em;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.blind {
  width: 15vw;
  background-color: red;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 99;
}

.left {
  position: fixed;
  left: -1px;
  top: -1px;
  bottom: -1px;
  -webkit-mask: linear-gradient(270deg, transparent 0%, black 90%);
}

.right {
  position: fixed;
  right: -1px;
  top: -1px;
  bottom: -1px;
  -webkit-mask: linear-gradient(90deg, transparent 0%, black 90%);
}

.loading {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
