.App {
  position: absolute;
  text-align: center;
  font-family: "Instrument Sans";
  user-select: none;
  font-size: 15px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(0deg, rgb(17, 15, 20) 0%, rgb(5, 0, 20) 100%);
  /* background-color: red; */
}

.App-link {
  color: #61dafb;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Instrument Sans";
  src: url(../public/font/InstrumentSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Instrument Sans";
  src: url(../public/font/InstrumentSans-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Instrument Sans";
  src: url(../public/font/InstrumentSans-SemiBold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Instrument Sans";
  src: url(../public/font/InstrumentSans-SemiBoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

.noise {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../public/image/noise.png");
  background-size: 20%;
  background-repeat: repeat;
  mix-blend-mode: overlay;
  opacity: 0.2;
  z-index: 9999;
  pointer-events: none;
}

body {
  color: white;
  overscroll-behavior: none;
  overflow-y: hidden;
}

.movies {
  display: flex;
  flex-direction: row;
  overflow: auto;
  padding-top: 70px;
  padding-left: calc(3vw * 2);
  padding-right: calc(3vw * 2);
  height: calc(100% - 70px - 70px);
  scroll-snap-type: both mandatory;
  overscroll-behavior-x: contain;
}

.movie-background {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin: 3vw;
  margin-bottom: 7vw;
  /* margin-top: 15px; */
  filter: drop-shadow(5px 15px 5px rgba(1, 1, 1, 0.5));
}

.movie {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex-grow: 1;
  backdrop-filter: blur(30px);
  background-color: rgba(18, 13, 25, 0.7);
  border-radius: 10px;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  scroll-snap-align: center;
  padding: 3px;
}

.more-information {
  position: relative;
  width: 50px;
  height: 25px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  /* background-color: white; */
}

.poster {
  bottom: 0;
  width: 100%;
  aspect-ratio: 0.66;
  background-size: cover;
  border-radius: 7px 7px 7px 7px;
}

.collapsible {
  position: relative;
  /* bottom: 3px; */
  width: 80vw;
  height: 100%;
  overflow: hidden;
  transition: 2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  border-radius: 7px 7px 7px 7px;
}

.title {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.4em;
  padding-bottom: 0;
}

.description {
  padding: 0.75em;
  padding-top: 0;
  /* max-height: 5em; */
  flex-grow: 1;
  overflow-y: hidden;
  text-align: left;
  word-wrap: normal;
}

.details-inactive {
  height: calc(100% - 80vw / 0.66);
  mask: linear-gradient(0deg, transparent 10%, black 100%);
}

.details-active {
  height: 100%;
}

.genres {
  font-size: 0.75em;
  padding: 0.5em;
}

.button {
  background: rgba(255, 255, 255, 0.5);
  padding: 0.5em;
  border-radius: 10px;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
}

.call-to-action {
  position: absolute;
  bottom: 6vw;
  width: calc(80vw - 10px);
  right: 0;
  left: 0;
  margin: auto;
  z-index: 999;
}

.logo {
  font-size: 40px;
  letter-spacing: -0.05em;
  font-weight: bold;
}

.header {
  position: fixed;
  padding-top: 1em;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.blind {
  width: 10vw;
  background-color: red;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);
  mix-blend-mode: overlay;
  z-index: 99;
}

.left {
  position: fixed;
  left: -1px;
  top: -1px;
  bottom: -1px;
  mask: linear-gradient(270deg, transparent 0%, black 90%);
}

.right {
  position: fixed;
  right: -1px;
  top: -1px;
  bottom: -1px;
  mask: linear-gradient(90deg, transparent 0%, black 90%);
}

.loading {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
