a {
  color: white;
}

p {
  margin: 0.5em;
  margin-left: 0;
  margin-right: 0;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "Instrument Sans";
  src: url(../public/font/InstrumentSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Instrument Sans";
  src: url(../public/font/InstrumentSans-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Instrument Sans";
  src: url(../public/font/InstrumentSans-SemiBold.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Instrument Sans";
  src: url(../public/font/InstrumentSans-SemiBoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

body {
  color: white;
  background-color: black;
  overscroll-behavior: none;
  overflow-y: hidden;
}

.noise {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../public/image/noise.png");
  background-size: 40%;
  background-repeat: repeat;
  mix-blend-mode: overlay;
  opacity: 0.15;
  z-index: 9999;
  pointer-events: none;
}

.logo {
  font-size: 30px;
  letter-spacing: -0.05em;
  font-weight: bold;
}

.header {
  position: fixed;
  padding-top: 1.5em;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.blind {
  width: 10vw;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  mix-blend-mode: overlay;
  z-index: 99;
}

.blind-secondary {
  width: 15vw;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  mix-blend-mode: overlay;
  z-index: 99;
}

.left {
  position: fixed;
  left: -1px;
  top: -1px;
  bottom: -1px;
  mask: linear-gradient(270deg, transparent 0%, black 90%);
}

.right {
  position: fixed;
  right: -1px;
  top: -1px;
  bottom: -1px;
  mask: linear-gradient(90deg, transparent 0%, black 90%);
}

.loading {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: url("../public/image/loading.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  mix-blend-mode: soft-light;
}

svg {
  vertical-align: -0.15em;
}

.App {
  position: fixed;
  text-align: center;
  font-family: "Instrument Sans";
  user-select: none;
  font-size: 15px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: radial-gradient(ellipse at bottom, rgb(22, 14, 52), black);
  opacity: 0;
  animation-duration: 1s;
  animation-name: fade-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.App-link {
  color: #61dafb;
}
/* animations */

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
